In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ielts_writing_dataset.csv')

In [3]:
data.head()

,Task_Type,Question,Essay,Examiner_Commen,Task_Response,Coherence_Cohesion,Lexical_Resource,Range_Accuracy,Overall
0,1,The bar chart below describes some changes abo...,"Between 1995 and 2010, a study was conducted r...",NaN,NaN,NaN,NaN,NaN,5.5
1,2,Rich countries often give money to poorer coun...,Poverty represents a worldwide crisis. It is t...,NaN,NaN,NaN,NaN,NaN,6.5
2,1,The bar chart below describes some changes abo...,The left chart shows the population change hap...,NaN,NaN,NaN,NaN,NaN,5.0
3,2,Rich countries often give money to poorer coun...,Human beings are facing many challenges nowada...,NaN,NaN,NaN,NaN,NaN,5.5
4,1,The graph below shows the number of overseas v...,Information about the thousands of visits from...,NaN,NaN,NaN,NaN,NaN,7.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Task_Type           1435 non-null   int64
 1   Question            1435 non-null   object
 2   Essay               1435 non-null   object
 3   Examiner_Commen     62 non-null     object
 4   Task_Response       0 non-null      float64
 5   Coherence_Cohesion  0 non-null      float64
 6   Lexical_Resource    0 non-null      float64
 7   Range_Accuracy      0 non-null      float64
 8   Overall             1435 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 101.0+ KB

In [20]:
df = data.drop(columns=['Examiner_Commen', 'Task_Response', 'Coherence_Cohesion','Range_Accuracy', 'Lexical_Resource'])

In [21]:
df.head()

,Task_Type,Question,Essay,Overall
0,1,The bar chart below describes some changes abo...,"Between 1995 and 2010, a study was conducted r...",5.5
1,2,Rich countries often give money to poorer coun...,Poverty represents a worldwide crisis. It is t...,6.5
2,1,The bar chart below describes some changes abo...,The left chart shows the population change hap...,5.0
3,2,Rich countries often give money to poorer coun...,Human beings are facing many challenges nowada...,5.5
4,1,The graph below shows the number of overseas v...,Information about the thousands of visits from...,7.0

In [27]:
df.isna().sum()

Task_Type    0
Question     0
Essay        0
Overall      0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Task_Type  1435 non-null   int64
 1   Question   1435 non-null   object
 2   Essay      1435 non-null   object
 3   Overall    1435 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 45.0+ KB

In [30]:
df['Task_Type'].unique()

array([1, 2], dtype=int64)

In [ ]:
df.groupby(['Task_Type']).sum().plot(kind='pie', y='votes_of_each_class')